<?xml version="1.0"?>
<robot name="fingertip">
  <link name="fingertip_back_1">
    <!-- sw2robot inertia="hull" -->
    <visual>
      <origin xyz="-0.021039487 0.0155 0.031" rpy="3.1415927 -5.5511151e-17 3.1415927"/>
      <geometry>
        <mesh filename="../meshes/fingertip_back_1.3dxml"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.021039487 0.0155 0.031" rpy="3.1415927 -5.5511151e-17 3.1415927"/>
      <geometry>
        <mesh filename="../meshes/fingertip_back_1.3dxml"/>
      </geometry>
    </collision>
    <inertial/>
  </link>
  <link name="base_link">
    <!-- sw2robot inertia="hull" -->
    <visual>
      <origin xyz="3.8518599e-34 0 0" rpy="0 -0 -4.4572704e-33"/>
      <geometry>
        <mesh filename="../meshes/fingertip_front_2.3dxml"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.8518599e-34 0 0" rpy="0 -0 -4.4572704e-33"/>
      <geometry>
        <mesh filename="../meshes/fingertip_front_2.3dxml"/>
      </geometry>
    </collision>
    <inertial/>
  </link>
  <link name="screwlock_male_hard_jointbase_v4_1">
    <!-- sw2robot material="ABS" density="1020" inertia="hull" -->
    <visual>
      <origin xyz="0 0 -1.540744e-33" rpy="5.0814364e-33 2.4652673e-34 -6.3441378e-33"/>
      <geometry>
        <mesh filename="../meshes/screwlock_male_hard_jointbase_v4_1.3dxml"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -1.540744e-33" rpy="5.0814364e-33 2.4652673e-34 -6.3441378e-33"/>
      <geometry>
        <mesh filename="../meshes/screwlock_male_hard_jointbase_v4_1.3dxml"/>
      </geometry>
    </collision>
    <inertial/>
  </link>
  <joint name="fingertip_front_2__screwlock_male_hard_jointbase_v4_1" type="fixed">
    <origin xyz="7.0484173e-18 -0.0155 0.038" rpy="1.5707963 -3.3306691e-16 -3.1415927"/>
    <parent link="base_link"/>
    <child link="screwlock_male_hard_jointbase_v4_1"/>
    <axis xyz="-0 -0 1"/>
    <!-- mates: CONCENTRIC, COINCIDENT, PARALLEL, CONCENTRIC, COINCIDENT, PARALLEL -->
  </joint>
  <joint name="fingertip_front_2__fingertip_back_1" type="revolute">
    <origin xyz="0.021039487 -0.0155 0.031" rpy="3.1415927 8.2450846e-17 8.2450846e-17"/>
    <parent link="base_link"/>
    <child link="fingertip_back_1"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="3.14"/>
    <!-- mates: COINCIDENT, COINCIDENT, COINCIDENT, COINCIDENT -->
  </joint>
</robot>
