<?xml version="1.0"?>
<robot name="fingertip">
  <link name="tip">
    <!-- sw2robot inertia="hull" -->
    <visual>
      <origin xyz="-0.021039487 0.0155 0.031" rpy="3.1415927 -5.5511151e-17 3.1415927"/>
      <geometry>
        <mesh filename="../meshes/fingertip_back_1.3dxml"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.021039487 0.0155 0.031" rpy="3.1415927 -5.5511151e-17 3.1415927"/>
      <geometry>
        <mesh filename="../meshes/fingertip_back_1.3dxml"/>
      </geometry>
    </collision>
    <inertial/>
  </link>
  <link name="base_link">
    <!-- sw2robot inertia="hull" -->
    <visual>
      <origin xyz="3.8518599e-34 0 0" rpy="0 -0 -4.4572704e-33"/>
      <geometry>
        <mesh filename="../meshes/fingertip_front_2.3dxml"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="3.8518599e-34 0 0" rpy="0 -0 -4.4572704e-33"/>
      <geometry>
        <mesh filename="../meshes/fingertip_front_2.3dxml"/>
      </geometry>
    </collision>
    <inertial/>
  </link>
  <link name="screwlock_male_hard_jointbase_v4_1">
    <!-- sw2robot material="ABS" density="1020" inertia="hull" -->
    <visual>
      <origin xyz="1.1131366e-18 0.017 -0.003" rpy="-1.5707963 2.5061606e-16 -3.1415927"/>
      <geometry>
        <mesh filename="../meshes/screwlock_male_hard_jointbase_v4_1.3dxml"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="1.1131366e-18 0.017 -0.003" rpy="-1.5707963 2.5061606e-16 -3.1415927"/>
      <geometry>
        <mesh filename="../meshes/screwlock_male_hard_jointbase_v4_1.3dxml"/>
      </geometry>
    </collision>
    <inertial/>
  </link>
  <joint name="fingertip_front_2__screwlock_male_hard_jointbase_v4_1" type="revolute">
    <origin xyz="4.2862638e-18 0.0015 0.035" rpy="3.1415927 8.2450846e-17 8.2450846e-17"/>
    <parent link="base_link"/>
    <child link="screwlock_male_hard_jointbase_v4_1"/>
    <axis xyz="0 -1 -0"/>
    <limit lower="-0.5" upper="0.5" effort="10" velocity="3.14"/>
    <!-- mates: CONCENTRIC, COINCIDENT, PARALLEL, CONCENTRIC, COINCIDENT, PARALLEL -->
  </joint>
  <joint name="bend" type="revolute">
    <origin xyz="0.021039487 -0.0155 0.031" rpy="3.1415927 8.2450846e-17 8.2450846e-17"/>
    <parent link="base_link"/>
    <child link="tip"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1" upper="1.5" effort="10" velocity="3.14"/>
    <mimic joint="fingertip_front_2__screwlock_male_hard_jointbase_v4_1" multiplier="0.5" offset="0.1"/>
    <!-- mates: COINCIDENT, COINCIDENT, COINCIDENT, COINCIDENT -->
  </joint>
</robot>
